<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Stratox Pilot</title>
</head>
<body>
	<div id="app">
		<h1>Basic URI Hash/Fragment example</h1>
		<p>Click on the links bellow to navigate page.</p>
		<nav>
			<ul>
				<li><a class="nav-to-btn" href="#">Start</a></li>
				<li><a class="nav-to-btn" href="#about">About</a></li>
				<li><a class="nav-to-btn" href="#shop/livingroom/sofas/corner-sofas">Sofa</a></li>
				<li><a class="nav-to-btn" href="#page-not-found">404 page</a></li>
			</ul>
		</nav>
		<div id="content"></div>
	</div>
	<script type="module" src="main.js"></script>
</body>
</html>